<!--главная страница-->
<div class="book">
  {{#if books}}
    {{#each books}}
     
       <div class="imgBook">
        <img src="{{pathToImage}}"/>
        <br>
        <a href="/clients/books/{{_id}}"><h1>{{nameBook}}</h1></a>
        </div>
       
    {{/each}}
  {{/if}}
</div>