<h1>Войдите, чтобы продолжить: </h1>
<ul>
  {{#each clients}}
    <li>
      <a href="/clients/{{_id}}/books">
        Пользователь:
        {{clientName}}</a>
      <p></p>
      Статус блокировки:
      {{isBlocked}}
    </li>
  {{/each}}
  <li class="users-list"><a href="/admin/clients/">Администратор</a></li>
</ul>